/atividadeArquetipo/atividadeArquetipo-ear/target/
/atividadeArquetipo/atividadeArquetipo-ejb/target/
/atividadeArquetipo/atividadeArquetipo-web/target/
/webschool/webschool-ejb/target/
/webschool/webschool-web/target/
/webschool/webschool-ear/target/
/landpage/target/